@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 70px;
  font-family: roboto;
  font-size: 14px;
}

header img {
  height: 20px;
  width: 90px;
}

header ul li {
  display: inline-block;
  margin-left: 30px;
}

header ul a {
  color: gray;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 70px 700px 1500px;
  grid-template-areas:
    "header header"
    "video sidebar1"
    "comments sidebar2";
  gap: 30px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video {
  background-color: blue;
  grid-area: video;
}

.comments {
  grid-area: comments;
}

.sidebar1 {
  grid-area: sidebar1;
}

.suggestions {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.suggestions iframe {
  border-radius: 10px;
  margin: 0 10px 0 10px;
}

.sidebar2 {
  display: grid;
  grid-template-rows: repeat(5, 100px);
  grid-auto-rows: 100px;
  row-gap: 10px;
  padding-top: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: scroll;
}

.sidebar2 {
  grid-area: sidebar2;
  display: grid;
  grid-template-rows: repeat(5, 100px);
  grid-auto-rows: 100px;
  row-gap: 10px;
}

.channelinfo a {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

.channelinfo a:nth-child(3) {
  display: inline-block;
  height: 30px;
  width: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  font-weight: 500;
  line-height: 30px;
}

.channelinfo {
  height: 80px;
  display: flex;
  align-items: center;
}

.channelinfo img {
  width: 50px;
  border-radius: 50%;
}

.commentsec {
  display: grid;
  grid-template-rows: repeate(4, 100px);
  grid-auto-rows: 100px;
  row-gap: 10px;
}

.messages {
  display: flex;
  align-items: center;
}

.messages img {
  width: 50px;
}

.msgdetails {
  margin-left: 20px;
}

hr {
  margin-top: 50px;
}
